.error select {
    display: inline-flexbox;
    border-radius: 10px;
    padding: 5%;
    width: 87%;
    margin: 3%;
    border : solid tomato 2px;
}

.error textarea {
    border-radius: 10px;
    padding: 5%;
    width: 100%;
    margin: 4%;
    border : solid tomato 2px;
}

span {
    display: flex;
}

.error input {
    display: flex;
    border-radius: 10px;
    padding: 5%;
    width: 100%;
    margin: 3%;
    border : solid tomato 2px;
}

.valid input{
    display: flex;
    border-radius: 10px;
    padding: 5%;
    width: 100%;
    margin: 3%;
}

.valid textarea {
    border-radius: 10px;
    padding: 5%;
    width: 100%;
    margin: 3%;
}

.valid select {
    display: inline-flexbox;
    border-radius: 10px;
    padding: 5%;
    width: 87%;
    margin: 3%;
}